<mat-card class="form-card">
  <mat-card-header>
    <mat-card-title>Ingresar</mat-card-title>
    <mat-card-subtitle>Rellena los campos a continuación</mat-card-subtitle>
  </mat-card-header>

  <mat-card-content>
    <form>

      <mat-form-field appearance="fill" class="form-field">
        <mat-label>Email</mat-label>
        <input matInput placeholder="Ingrese su email">
      </mat-form-field>

      <mat-form-field appearance="fill" class="form-field">
        <mat-label>Contraseña</mat-label>
        <input matInput placeholder="Ingrese su contraseña" [type]="hide() ? 'password' : 'text'" />
        <button
          mat-icon-button
          matSuffix
          (click)="clickEvent($event)"
          [attr.aria-pressed]="hide()"
        >
          <mat-icon>{{hide() ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
      </mat-form-field>
    </form>
  </mat-card-content>

  <mat-card-actions>
    <button mat-button color="primary">Ingresar</button>
    <button  mat-raised-button (click)="register()" color="accent">Crear cuenta</button>
  </mat-card-actions>
</mat-card>
